services:
  server:
    container_name: server
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    volumes:
      - ./server:/app
      - ./.data/uploads:/data/uploads
    ports:
      - "8081:8081"
      - "3001:3001"
    environment:
      - NODE_ENV=development
      - HTTP_PORT=8081
      - REDIS_HOST=redis
      - MONGO_URI=mongodb://mongo:27017     
      - MONGO_DB=fellowship
      - RTMP_URL=rtmp://13.124.131.156:1935/live
    depends_on:
      - redis
      - mongo
  redis:
    container_name: redis
    image: redis:7-alpine
    restart: always
  
  mongo:
    container_name: mongo                     
    image: mongo:6
    restart: always
    volumes:
      - mongo_data:/data/db

  nginx:
    container_name: nginx
    image: nginx:alpine
    restart: always
    volumes:
      - ./public:/usr/share/nginx/html
      - ./certs:/etc/nginx/certs:ro
      - ./nginx/default.dev.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/admin.htpasswd:/etc/nginx/admin.htpasswd:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - server

volumes:
  mongo_data: