services:
  server:
    container_name: server
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./server/key.env:/app/key.env:ro
      - /srv/fellowship/uploads:/data/uploads # 服务器部署时记得执行 mkdir -p /srv/fellowship/uploads/cached | mkdir -p /srv/fellowship/uploads/cached | sudo chown -R 1000:1000 /srv/fellowship/uploads
    ports:
      - "8081:8081"
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - HTTP_PORT=8081
      - REDIS_HOST=redis
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DB=fellowship
      - RTMP_URL=rtmp://172.31.45.177:1935/live
    depends_on:
      - redis
      - mongo

  redis:
    container_name: redis
    image: redis:7-alpine
    restart: always
  
  mongo:
    container_name: mongo
    image: mongo:6
    restart: always
    volumes:
      - mongo_data:/data/db

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    volumes:
      - ./public:/usr/share/nginx/html:ro
      - ./nginx/default.prod.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/admin.htpasswd:/etc/nginx/admin.htpasswd:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - server

volumes:
  mongo_data: