services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    volumes:
      - ./server:/app
    ports:
      - "8081:8081"
      - "3001:3001"
    environment:
      - NODE_ENV=development
      - HTTP_PORT=8081
      - REDIS_HOST=redis
    depends_on:
      - redis
  redis:
    image: redis:7-alpine
    restart: always

  nginx:
    image: nginx:alpine
    restart: always
    volumes:
      - ./public:/usr/share/nginx/html
      - ./certs:/etc/nginx/certs:ro
      - ./nginx/default.dev.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - server